@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --blue: #1a73e8;
    --gray: #f1eded;
    --red: #cb6468;
    --green: #53be8a;
    --yellow: #e0cd5d;
    --dark-gray: #6f7d97;
    --white: #ffffff;
    --light-gray: #f1eeee;
    --bg-light-gray: #f7f1f1;
    --black: #3c4043;
    --bor-blue: #4c90ea;
    --bor-gray: #e7e5e5;
    --bor-form: #e6e4e4;
    --blue-pastel: #72a4e6;
    --green-pastel: #7edbae;
    --red-pastel: #d87376;
    --w-sidebar: 175px;
    --w-sidebar-large: 285px;
    --h-header: 70px;
    --w-col-side: 380px;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden !important;
}

* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* box-general */
.box-general {
    display: block;
    width: 100%;
    min-height: 100vh;
}
.box-general.page-auth {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--black);
}
.box-general > .header {
    position: fixed;
    width: 100%;
    height: var(--h-header);
    top: 0;
    font-size: 0;
    z-index: 4;
}
.box-general > .sidebar {
    position: fixed;
    width: var(--w-sidebar);
    left: 0;
    top: calc(var(--h-header) - 1px);
    bottom: 0;
    background-color: var(--blue);
    overflow-x: hidden;
    z-index: 4;
}
.box-general.large > .sidebar {
    width: var(--w-sidebar-large);
}
.box-general > .container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-light-gray);
    padding: var(--h-header) 30px 0 calc(var(--w-sidebar) + 30px);
}
.box-general.large > .container {
    width: 100%;
    padding: var(--h-header) 30px 0 calc(var(--w-sidebar-large) + 30px);
    
}

/* toggle template */
.box-general > .header .logo,
.box-general > .header .topbar,
.box-general > .sidebar,
.box-general > .container {
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -moz-transition: all ease .3s;
}
.box-general > .header .logo.closed,
.box-general > .sidebar.closed {
    left: calc(var(--w-sidebar) - var(--w-sidebar) * 2);
}
.box-general.large > .header .logo.closed,
.box-general.large > .sidebar.closed {
    left: calc(var(--w-sidebar-large) - var(--w-sidebar-large) * 2);
}
.box-general > .container.closed,
.box-general > .header .topbar.closed,
.box-general.large > .container.closed,
.box-general.large > .header .topbar.closed{
    width: 100%;
    padding-left: 30px;
}

/* logo and topbar */
.box-general > .header > * {
    font-size: initial !important;
}
.box-general > .header .topbar {
    position: absolute;
    right: 0;
    width: calc(100% - var(--w-sidebar));
    height: var(--h-header);
    border-bottom: solid 1px var(--light-gray);
    background-color: var(--bg-light-gray);
    padding: 0 30px;
}
.box-general.large > .header .topbar {
    width: calc(100% - var(--w-sidebar-large));
    margin-left: var(--w-sidebar-large);
}

/* logo */
.box-general > .header .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--w-sidebar);
    height: calc(var(--h-header) - 1px);
    line-height: var(--h-header);
    background-color: var(--blue);
    border-bottom: solid 1px var(--bor-blue);
}
.box-general.large > .header .logo {
    width: var(--w-sidebar-large);
}
.box-general > .header .logo a {
   display: block;
   width: 100%;
   text-align: center;
   height: var(--h-header);
}
.box-general > .header .logo a img {
    display: inline-block;
    width: auto;
    height: 60px;
    margin-top: 5px;
}

/* toggle-menu */
.box-general > .header .topbar .toggle-menu {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/* right-box */
.box-general > .header .topbar .right-box {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.box-general > .header .topbar .right-box .notification,
.box-general > .header .topbar .right-box .profile {
    display: inline-block;
    vertical-align: middle;
}
.box-general > .header .topbar .right-box .profile {
    margin-left: 15px;
}
.box-general > .header .topbar .right-box .profile a img {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    object-fit: cover;
}

/* notifications */
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu {
    width: 320px;
    padding: 0;
    overflow-x: hidden;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box {
    padding: 0 20px;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a {
    position: relative;
    font-size: 0;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col {
    font-size: initial;
    display: inline-block;
    vertical-align: middle;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col:first-child {
    width: 50px;
    text-align: center;
    margin-right: 5px;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col:last-child {
    width: calc(100% - 55px);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col .icon {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    opacity: .85;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col .icon.blue {
    border: solid 1px var(--blue);
    color: var(--blue);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col .icon.yellow {
    border: solid 1px var(--yellow);
    color: var(--yellow);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col .icon.red {
    border: solid 1px var(--red);
    color: var(--red);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col .icon.dark-gray {
    border: solid 1px var(--dark-gray);
    color: var(--dark-gray);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col .icon i,
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a .col .icon svg {
    font-size: 1.15em;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a span.info,
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a small.time {
    display: block;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a span.info {
    font-size: .95em;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a small.time {
    margin-top: 5px;
    color: var(--dark-gray);
    font-size: .7em;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a span.read {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    right: -5px;
    top: 15px;
    border-radius: 50%;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a span.read.yes {
    background-color: var(--bor-gray);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .box a span.read.not {
    background-color: var(--black);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .heading,
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .footer {
    display: block;
    width: 100%;
    text-transform: uppercase;
    padding: 15px;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .heading {
    border-bottom: solid 1px var(--bor-gray);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .footer {
    border-top: solid 1px var(--bor-gray);
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .body {
    display: block;
    width: 100%;
    max-height: 300px;
    overflow-y: hidden;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .body.scrollbar-v-active {
    width: calc(100% + 17px);
    overflow-y: auto;
}
.box-general > .header .topbar .right-box .notification .dropdown .dropdown-menu .footer .btn-gray {
    background-color: var(--bor-gray);
    font-size: .85em;
    text-transform: uppercase;
}

/* menu */
.sidebar .menu-wrap,
.sidebar .menu-wrap ul,
.sidebar .menu-wrap ul li,
.sidebar .menu-wrap ul li a {
    display: block;
    width: 100%;
}
.sidebar .menu-wrap,
.box-general.large .sidebar .menu-accordion {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.sidebar > .header {
    display: block;
    background-color: var(--black);
    padding: 15px;
}
.sidebar .menu-wrap {
    width: var(--w-sidebar);
    overflow-y: hidden;
}
.sidebar .menu-wrap.scrollbar-v-active {
    width: calc(var(--w-sidebar) + 17px);
    overflow-y: auto;
}
.box-general.large .sidebar .menu-wrap {
    width: var(--w-sidebar-large);
}
.sidebar .menu-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .menu-wrap ul li {
    position: relative;
    padding-left: 20px;
}
.sidebar .menu-wrap > ul > li.active:first-child {
    padding-top: 20px;
}
.sidebar .menu-wrap ul li a {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    padding: 15px 15px 15px 0;
}
.sidebar .menu-wrap ul li:not(.active) a {
    opacity: .65;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -ms-transition: all ease .3s;
}
.sidebar .menu-wrap ul li:not(.active):hover a,
.sidebar .menu-wrap ul li:not(.active):focus a {
    opacity: 1;
}
.sidebar .menu-wrap ul li a span.label {
    display: block;
    margin-top: 10px;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: 600;
}
.sidebar .menu-wrap ul li a i,
.sidebar .menu-wrap ul li a svg {
    font-size: 1.3em;
}
.sidebar .menu-wrap > ul > li.active {
    position: relative;
}
.sidebar .menu-wrap > ul > li.active:first-child {
    padding-top: 20px;
}
.sidebar .menu-wrap > ul > li.active::after {
    position: absolute;
    content: '';
    width: 40px;
    height: calc(100% + 40px);
    right: 0;
    top: 50%;
    background-color: var(--bg-light-gray);
    border-radius: 15px 0 0 15px;
    z-index: -1;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.sidebar .menu-wrap > ul > li.active > a {
    position: relative;
    background-color: var(--bg-light-gray);
    color: var(--blue);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.sidebar .menu-wrap > ul > li.active > a::before,
.sidebar .menu-wrap > ul > li.active > a::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 30px;
    background-color: var(--blue);
    z-index: 3;
    right: 0;
}
.sidebar .menu-wrap > ul > li.active > a::before {
    top: -30px;
    border-radius: 0 15px 40px 0;
}
.sidebar .menu-wrap > ul > li.active > a::after {
    bottom: -30px;
    border-radius: 0 40px 15px 0;
}

/* submenu */
.sidebar .menu-wrap ul li > ul {
    position: fixed;
    width: 250px;
    left: calc(var(--w-sidebar) - 30px);
    background-color: var(--bg-light-gray);
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(117, 117, 117, .4);
    z-index: 99999999;

    visibility: hidden;
    opacity: 0;
}
.box-general.large .sidebar .menu-wrap ul li > ul {
    left: calc(var(--w-sidebar-large) - 30px);
}
.sidebar .menu-wrap ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}
.sidebar .menu-wrap ul li > ul li {
    display: block;
    padding: 0 30px;
}
.sidebar .menu-wrap ul li > ul li a {
    color: var(--dark-gray);
    text-align: left;
    border-bottom: solid 1px var(--light-gray);
    padding: 15px 0;
}
.sidebar .menu-wrap ul li > ul li:last-child a {
    border-bottom: none;
}

/* menu-accordion */
.sidebar .menu-accordion {
    display: block;
    width: 100%;
}
.sidebar .menu-accordion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar .menu-accordion ul li,
.sidebar .menu-accordion ul li > a {
    display: block;
    width: 100%;
}
.sidebar .menu-accordion ul li > a {
    color: var(--white);
    padding: 15px 0;
}
.sidebar .menu-accordion ul li > ul {
    display: none;
    padding: 0 25px;
}
.sidebar .menu-accordion ul li.active > ul {
    display: block;
}
.sidebar .menu-accordion > ul > li > a {
    position: relative;
    font-weight: bold;
    background-color: var(--bor-blue);
    border-bottom: solid 1px var(--blue);
    padding: 15px;
}
.sidebar .menu-accordion ul li > ul > li > a {
    border-bottom: dotted 1px var(--bor-blue);
    font-size: .85em;
}
.sidebar .menu-accordion ul li > ul > li > a.active {
    color: var(--yellow);
    font-weight: bold;
}
.sidebar .menu-accordion ul li > ul > li:last-child > a {
    border-bottom: none;
}
.sidebar .menu-accordion > ul > li > a::before {
    position: absolute;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f107";
    right: 15px;
    top: 50%;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.sidebar .menu-accordion > ul > li.open > a::before {
    content: "\f106";
}

/* dropdown */
.dropdown {
    position: relative;
}
.dropdown > a {
    display: block;
}
.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    width: 250px;
    background-color: var(--bg-light-gray);
    box-shadow: 0 1px 5px rgba(117, 117, 117, .3);
    border-radius: 5px;
    z-index: 1;
    padding: 0 15px;
}
.dropdown .dropdown-menu.right {
    right: 0;
}
.dropdown .dropdown-menu.left {
    left: 0;
}
.dropdown:hover > .dropdown-menu,
.dropdown:focus > .dropdown-menu {
    display: block;
}
.dropdown .dropdown-menu a.dropdown-item {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: .9em;
    color: var(--black);
    border-bottom: solid 1px var(--bor-gray);
    padding: 15px 0;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}
.dropdown .dropdown-menu a.dropdown-item:last-child {
    border-bottom: 0;
}
.dropdown .dropdown-menu a.dropdown-item:hover {
    color: var(--dark-gray);
}

/* page-header */
.page-header {
    display: block;
    width: calc(100% + 60px);
    margin-left: -30px;
    font-size: 0;
    border-bottom: solid 1px var(--light-gray);
    padding: 30px;
}
.page-header.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: var(--h-header);
    background-color: var(--bg-light-gray);
    z-index: 2;
}
.page-header h3.title {
    color: var(--black);
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
.page-header .col {
    font-size: initial;
}

/* pagination */
.pagination {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
    font-size: 0;
}
.pagination .col {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
}
.pagination .col > * {
    font-size: initial;
}
.pagination .col:nth-child(1) {
    width: 35%;
}
.pagination .col:nth-child(2) {
    width: 65%;
    text-align: right;
}
.pagination .col ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}
.pagination .col ul li {
    display: inline-block;
    font-size: initial;
}
.pagination .col ul li a {
    text-decoration: none;
}
.pagination .col ul li a,
.pagination .col ul li span {
    font-size: 1em;
    display: block;
    color: var(--dark-gray);
    text-align: center;
    padding: 5px 13px;
}
.pagination .col ul li.active a,
.pagination .col ul li.active span {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
}
.pagination .col p {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: var(--dark-gray);
}
.pagination .col ul li a:hover {
    color: var(--black);
}

/* table */
table {
    font-family: 'Source Sans Pro', sans-serif;
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    color: var(--black);
}
table th,
table td,
table input {
    font-size: 14px !important;
}
table th {
    border: none !important;
    text-align: left;
}
table td {padding: 15px;}
table th {padding: 8px 15px;}
table thead tr th {background-color: var(--light-gray);}
table tbody tr td {
    border-bottom: solid 2px var(--bor-gray);
    border-top: solid 2px var(--bor-gray);
}
table tbody tr th,
table tbody tr td {
    position: relative;
}
table tbody tr:hover td {background-color: var(--gray);}
table tbody tr td:first-child {border-left: solid 2px var(--bor-gray);}
table tbody tr td:last-child {border-right: solid 2px var(--bor-gray);}
table thead tr th:first-child,
table tbody tr td:first-child {border-radius: 7px 0 0 7px;}
table thead tr th:last-child,
table tbody tr td:last-child {border-radius: 0 7px 7px 0;}

/* table-wrap */
.table-wrap.details table th {
    border-radius: 7px 0 0 7px;
    border-bottom: solid 2px var(--bor-gray) !important;
    border-top: solid 2px var(--bor-gray) !important;
    border-left: solid 2px var(--bor-gray) !important;
}
.table-wrap.details table tbody tr:hover th {
    background-color: var(--gray);
}
.table-wrap.details table tbody tr th:last-child {
    border-right: solid 2px var(--bor-gray);
}
.table-wrap.text-small table tr th,
.table-wrap.text-small table tr td,
.table-wrap.text-small table a.preview .name,
.table-wrap.text-small table input {
    font-size: 12px !important;
}
.table-wrap.text-small table td {
    padding: 8px;
}

/* table preview */
table .preview {
    display: block;
    width: 100%;
    font-size: 0;
    color: var(--black);
}
table .preview .col {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
}
table .preview .col:nth-child(1) {
    margin-right: 10px;
}
table .preview .col img {
    display: block;
    width: 35px;
    height: 35px;
    object-fit: cover;
}
table .preview.circle img {
    border-radius: 50%;
}
table .preview .col .icon {
    font-size: 50px;
}
table a.preview .name {
    text-decoration: none;
    font-size: 14px;
}

/* table-sortable */
table.table-sortable tbody tr td:first-child::before,
table.table-sortable tbody tr th:first-child::before {
    position: absolute;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: '\f58e';
    left: 5px;
    top: 5px;
    font-size: 10px;
    color: #dfdbdb;
}
table.table-sortable tbody tr.ui-sortable-placeholder {
    visibility: visible !important;
}
table.table-sortable tbody tr.ui-sortable-helper {
    display: table;
}
table.table-sortable tbody tr.ui-sortable-helper td,
table.table-sortable tbody tr.ui-sortable-helper th {
    background-color: var(--white);
}
table.table-sortable tbody tr.ui-sortable-helper td,
table.table-sortable tbody tr.ui-sortable-helper td a,
table.table-sortable tbody tr.ui-sortable-helper th,
table.table-sortable tbody tr.ui-sortable-helper th a {
    cursor: grab;
}
table.table-sortable tbody tr.ui-sortable-placeholder td:first-child::before,
table.table-sortable tbody tr.ui-sortable-placeholder th:first-child::before {
    visibility: hidden;
}

/* btn */
.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 400;
    padding: 10px 15px;

    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -ms-transition: all ease .3s;
}
.btn.count {
    position: relative;
}
.btn.count .number {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--white);
    font-size: 12px;
    line-height: 15px;
    top: 0;
    font-weight: bold;
    left: -5px;
}
.btn.btn-black {
    color: var(--white);
    background-color: var(--black);
}
.btn.btn-gray {
    color: var(--black);
    background-color: var(--gray);
}
.btn.btn-dark-gray {
    color: var(--white);
    background-color: var(--dark-gray);
}
.btn.btn-green {
    color: var(--white);
    background-color: var(--green);
}
.btn.btn-blue {
    color: var(--white);
    background-color: var(--blue);
}
.btn.btn-red {
    color: var(--white);
    background-color: var(--red);
}
.btn.btn-yellow {
    color: var(--black);
    background-color: var(--yellow);
}
.btn.btn-block {
    display: block !important;
    width: 100%;
}
.btn:hover,
.btn:focus {box-shadow: 1px 1px 5px rgba(117, 117, 117, .4);}

/* btn-group */
.btn-group {
    font-size: 0;
    display: inline-block;
}
.btn-group .btn {
    font-size: initial !important;
    border-radius: 0;
    box-shadow: none;
}
.btn-group .btn:last-child {
    border-right: none !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-group .btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* group gray */
.btn-group.btn-gray .btn {
    border-right: solid 1px var(--black);
    color: var(--black);
    background-color: var(--gray);
}
.btn-group.btn-gray .btn:hover, 
.btn-group.btn-gray .btn:focus {
    background-color: var(--dark-gray);
    color: var(--white);
    border-right-color: var(--white);
}
/* btn-dragdrop */
.btn-dragdrop {
    cursor: grab;
}

/* alert */
.alert {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 7px;
    padding: 15px;
}
.alert.alert-default {
    background-color: var(--gray);
    color: var(--dark-gray);
}
.alert.alert-blue {
    background-color: var(--blue-pastel);
    color: var(--white);
}
.alert.alert-green {
    background-color: var(--green-pastel);
    color: var(--white);
}
.alert.alert-red {
    background-color: var(--red-pastel);
    color: var(--white);
}
.alert.alert-yellow {
    background-color: var(--yellow);
    color: var(--dark-gray);
}
.alert.alert-dark-gray {
    background-color: var(--dark-gray);
    color: var(--white);
}
.alert p {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
}

/* badge */
.badge {
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    font-size: .85em;
    padding: 5px 10px;
}
.badge.badge-block {
    display: block;
}
.badge.badge-gray {
    background-color: var(--gray);
    color: var(--dark-gray)
}
.badge.badge-blue {
    background-color: var(--blue-pastel);
    color: var(--white);
}
.badge.badge-green {
    background-color: var(--green-pastel);
    color: var(--white);
}
.badge.badge-red {
    background-color: var(--red-pastel);
    color: var(--white);
}
.badge.badge-yellow {
    background-color: var(--yellow);
    color: var(--black);
}
.badge.badge-black {
    background-color: var(--black);
    color: var(--white);
}
.badge.badge-dark-gray {
    background-color: var(--dark-gray);
    color: var(--white);
}
/* badge-round  */
.badge.badge-round {
    display: inline-block;
    position: relative;
    padding: 0;
    background-color: transparent;
}
.badge.badge-round::before {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    content: '';
    left: 0;
    width: 7px;
    height: 7px;
    margin-right: 5px;
    border-radius: 50%;
}
.badge.badge-round.badge-gray {
    color: var(--gray);
}
.badge.badge-round.badge-gray::before {
    background-color: var(--gray);
}
.badge.badge-round.badge-blue {
    color: var(--blue-pastel);
}
.badge.badge-round.badge-blue::before {
    background-color: var(--blue-pastel);
}
.badge.badge-round.badge-green {
    color: var(--green-pastel);
}
.badge.badge-round.badge-green::before {
    background-color: var(--green-pastel);
}
.badge.badge-round.badge-red {
    color: var(--red-pastel);
}
.badge.badge-round.badge-red::before {
    background-color: var(--red-pastel);
}
.badge.badge-round.badge-yellow {
    color: var(--yellow);
}
.badge.badge-round.badge-yellow::before {
    background-color: var(--yellow);
}
.badge.badge-round.badge-black {
    color: var(--black);
}
.badge.badge-round.badge-black::before {
    background-color: var(--black);
}
.badge.badge-round.badge-dark-gray {
    color: var(--dark-gray);
}
.badge.badge-round.badge-dark-gray::before {
    background-color: var(--dark-gray);
}

/*  text color */
.text-black {
    color: var(--black) !important;
}
.text-white {
    color: var(--white) !important;
}
.text-blue {
    color: var(--blue) !important;
}
.text-green {
    color: var(--green) !important;
}
.text-red {
    color: var(--red) !important;
}
.text-yellow {
    color: var(--yellow) !important;
}
.text-gray {
    color: var(--gray) !important;
}
.text-dark-gray {
    color: var(--dark-gray) !important;
}

/* text align */
.text-align-left {text-align: left;}
.text-align-right {text-align: right;}
.text-align-center {text-align: center;}

/* font weight w*/
.font-w-300 {font-weight: 300;}
.font-w-400 {font-weight: 400;}
.font-w-500 {font-weight: 500;}
.font-w-600 {font-weight: 600;}
.font-w-700 {font-weight: 700;}
.font-w-800 {font-weight: 800;}
.font-w-900 {font-weight: 900;}
.font-w-bold {font-weight: bold;}

/* modal */
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}
.modal.active {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}
.modal .dialog {
    position: relative;
    margin: 30px;
    width: auto;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal .dialog.centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (1.9rem * 2));
}
.modal.active .dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.modal .content {
    position: relative;
    left: 50%;
    width: 100%;
    max-width: 768px;
    border-radius: 5px;
    background-color: var(--white);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
}
.modal > .content {
    box-shadow: 1px 2px 5px rgba(96, 96, 96, 0.85);
}
.modal .content .header,
.modal .content .body,
.modal .content .footer {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px;
}
.modal .content.modal-small {
    max-width: 500px;
}
.modal .content.modal-medium {
    max-width: 768px;
}
.modal .content.modal-large {
    max-width: 992px;
}
.modal .content.modal-full {
    width: 100%;
    max-width: initial;
}
.modal .content .header {
    border-bottom: solid 1px var(--bor-gray);
}
.modal .content .body {
    padding-top: 0;
    padding-bottom: 0;
}
.modal .content .footer {
    border-top: solid 1px var(--bor-gray);
}
.modal .content .header p {
    margin: 0;
    padding: 0;
    color: var(--dark-gray);
    font-size: 1.2em;
    font-weight: 600;
}
.modal .content a.close:not([class*="btn"]) {
    display: none;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    background-color: var(--dark-gray);
    color: var(--white);
    z-index: 50;
}
.modal .content a.close.active {
    display: block;
}
/* modal scrollbar */
.modal.scrollbar .content {
    overflow-x: hidden;
}
.modal.scrollbar .content > .body {
    width: 100%;
    max-height: calc(100vh - 260px);
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal.scrollbar .content > .body.full {
    height: 100vh;
}
.modal.scrollbar .content .body.scrollbar-v-active {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto;
}
.modal.scrollbar .content .body.scrollbar-v-active::-webkit-scrollbar {
    display: none;
}
/* modal sidebar */
.modal.sidebar .content {
    position: fixed;
    right: -380px;
    left: initial;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 380px;
    border-radius: initial;
    transform: initial;
    -webkit-transform: initial;
}
.modal.sidebar .content.modal-small {
    right: -380px;
    max-width: 380px;
}
.modal.sidebar .content.modal-medium {
    right: -768px;
    max-width: 768px;
}
.modal.sidebar .content.modal-large {
    right: -992px;
    max-width: 992px;
}
.modal.sidebar .content.modal-full {
    right: -100%;
    max-width: 100%;
}
.modal.active.sidebar .content {
    right: 0;
}
.modal.sidebar .content .body {
    height: calc(100vh - 190px);
    max-height: initial;
}

@media (max-width: 768px) {

    .modal .dialog {
        margin: 15px;
    }
    .modal.sidebar .content {
        right: -100%;
        max-width: 100% !important;
    }
}

/* tab */
.tab-main {
    display: block;
    width: 100%;
    font-size: 0;
}
.tab-main ul.nav,
.tab-main .content {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.tab-main .content {
    border: solid 1px var(--bor-gray);
    border-radius: unset;
    background-color: var(--bg-light-gray);
    padding: 0 30px;
}
.tab-main ul.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tab-main .content,
.tab-main ul.nav li {
    font-size: initial;
}
.tab-main ul.nav li {
    position: relative;
    display: inline-block;
    z-index: 3;
}
.tab-main ul.nav li.active {
    border-top: solid 1px var(--bor-gray);
    border-left: solid 1px var(--bor-gray);
    border-right: solid 1px var(--bor-gray);
    border-bottom: solid 1px var(--bg-light-gray);
    background-color: var(--bg-light-gray);
    margin: 0 0 -1px 0;
}
.tab-main:not(.vertical) ul.nav li.active {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.tab-main.vertical ul.nav li.active {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.tab-main ul.nav li a {
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .85em;
    font-weight: bold;
    display: block;
    padding: 15px 30px;
}
.tab-main ul.nav li.active a {
    color: var(--blue);
}
.tab-main > .content > .body {
    display: none;
    padding: 0;
    max-height: initial !important;
    width: initial !important;
}
.tab-main > .content > .body.active {
    display: block;
}
/* vertical */
.tab-main.vertical ul.nav {
    width: 200px;
}
.tab-main.vertical .content {
    width: calc(100% - 200px);
}
.tab-main.vertical ul.nav li {
    display: block;
}
.tab-main.vertical ul.nav li.active {
    border-right: solid 1px var(--bg-light-gray);
    border-bottom: solid 1px var(--bor-gray);
    margin: 0 -1px 0 0;
}

/* card */
.card,
.card .heading,
.card .body {
    display: block;
    width: 100% !important
}
.card .heading,
.card .body {
    padding: 30px !important;
}
.card {
    border-radius: 7px;
    border: solid 1px var(--bor-gray);
    overflow: hidden;
}
.card .heading {
    background-color: var(--gray);
    border-bottom: solid 1px var(--bor-gray);
}
.card .heading span.title {
    font-size: 1.3rem;
    color: var(--dark-gray);
}
.card .heading span.title.normal {
    font-size: 1.1rem;
}
.card .heading.split-col {
    font-size: 0;
}
.card .body {
    height: auto !important;
}
.card .body .content {
    position: initial;
    left: initial;
    width: initial;
    border-radius: initial;
    transition: initial;
    transform: initial;
}
.card > .body > .content :last-child {
    margin-bottom: 0;
}
/* heading */
.card .heading {
    padding: 15px 30px;
}
.card .heading .dropdown {
    display: inline-block;
}
.card > .body > .content {
    color: var(--dark-gray);
}
.card > .body > .content :first-child {
    margin-top: 0;
}
.card .heading .btn {
    padding: 5px 10px;
    font-size: .85em;
}

/* card colors */
.card.gray {
    border: solid 1px #e6e5e5;
}
.card.gray .heading {
    background-color: #f0f0f0;
    border-bottom: solid 1px #e6e5e5;
}
.card.blue {
    border: solid 1px #0b59c0;
}
.card.blue .heading {
    background-color: #1a73e8;
    border-bottom: solid 1px #0b59c0;
}
.card.red {
    border: solid 1px #b3474a;
}
.card.red .heading {
    background-color: #cb6468;
    border-bottom: solid 1px #b3474a;
}
.card.green {
    border: solid 1px #31855c;
}
.card.green .heading {
    background-color: #53be8a;
    border-bottom: solid 1px #31855c;
}
.card.black {
    border: solid 1px #232425;
}
.card.black .heading {
    background-color: #3c4043;
    border-bottom: solid 1px #232425;
}
.card.dark-gray {
    border: solid 1px #5a6272;
}
.card.dark-gray .heading {
    background-color: #6f7d97;
    border-bottom: solid 1px #5a6272;
}
.card.yellow {
    border: solid 1px #cec65a;
}
.card.yellow .heading {
    background-color: #e6de7b;
    border-bottom: solid 1px #cec65a;
}

/* card comment */
.card.comment .body .actions {
    display: block;
    width: 100%;
    margin-top: 15px;
    border-top: solid 1px var(--bor-gray);
    padding: 10px 0 0 0;
}
.card.comment .heading .replies,
.card.comment .heading .dropdown > a,
.card.comment .body .actions a {
    font-size: .85em;
    font-weight: 600;
}

/* form-wrap */
.form-wrap {
    display: block;
    width: 100%;
    font-size: 0;
}
.form-wrap .group {
    position: relative;
    display: inline-block;
    font-size: initial;
    width: 100%;
}
.form-wrap .group span.error {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    top: 0;
    line-height: 25px;
    background-color: var(--red);
    color: var(--white);
    font-size: .85em;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}
.form-wrap .group span.error.label {
    top: 22px;
}
.form-wrap .group span.error.label-add {
    top: 32px;
    margin: 0;
}
.form-wrap .group label {
    display: block;
    color: var(--dark-gray);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 5px;
}
.form-wrap .group .label-add {
    font-size: 0;
    display: block;
    margin-bottom: 5px;
}
.form-wrap .group .label-add span.text,
.form-wrap .group .label-add a.btn {
    display: inline-block;
    font-size: 13px;
}
.form-wrap .group .label-add span.text {
    width: calc(100% - 30px);
    color: var(--dark-gray);
    text-transform: uppercase;
    font-weight: 600;
}
.form-wrap .group .label-add a.btn {
    width: 30px;
    padding: 5px;
}
.form-wrap .group input[type="text"],
.form-wrap .group input[type="email"],
.form-wrap .group input[type="password"],
.form-wrap .group input[type="number"],
.form-wrap .group select,
.form-wrap .group textarea {
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    width: 100%;
    height: 45px;
    border: solid 1px var(--bor-form);
    color: var(--black);
    background-color: var(--white);
    border-radius: 5px;
    font-size: 1.1em;
    padding: 8px;
}
.form-wrap .group textarea {
    min-height: 120px;
    max-width: 100%;
}
.form-wrap .group input[type="text"]:disabled,
.form-wrap .group input[type="text"]:read-only,

.form-wrap .group input[type="email"]:disabled,
.form-wrap .group input[type="email"]:read-only,

.form-wrap .group input[type="password"]:disabled,
.form-wrap .group input[type="password"]:read-only,

.form-wrap .group input[type="number"]:disabled,
.form-wrap .group input[type="number"]:read-only,

.form-wrap .group select:disabled,
.form-wrap .group select:read-only,

.form-wrap .group textarea:disabled,
.form-wrap .group textarea:read-only {
    background-color: var(--light-gray);
    pointer-events: none;
}

/* form auth */
.box-form-auth {
    position: absolute;
    width: 450px;
    left: 50%;
    top: 50%;
    border-radius: 7px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.box-form-auth .logo,
.box-form-auth .form-wrap {
    display: block;
    width: 100%;
}
.box-form-auth .logo {
    padding: 15px;
    background-color: var(--blue);
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px
} 
.box-form-auth .logo img {
    width: auto;
    height: 75px;
    display: inline-block;
}
.box-form-auth .form-wrap {
    padding: 15px 15px 30px 15px;
    margin: 0;
    background-color: var(--white);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.box-form-auth .title {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--dark-gray);
    margin-bottom: 30px;
}

/* box-catalog */
.box-catalog {
    display: block;
    width: 100%;
    font-size: 0;
    background-color: var(--gray);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 7px rgba(196, 196, 196, 0.4);
}
.box-catalog.inline .thumb,
.box-catalog.inline .info {
    display: inline-block;
    vertical-align: middle;
}
.box-catalog.inline .thumb > *,
.box-catalog.inline .info > * {
    font-size: initial;
}
.box-catalog.inline .thumb {
    position: relative;
    width: 225px;
}
.box-catalog.inline .info {
    position: relative;
    width: calc(100% - 225px);
    padding: 15px;
}
.box-catalog .thumb a,
.box-catalog .thumb a img {
    display: block;
}
.box-catalog .thumb a img {
    width: 100%;
    height: auto;
}
.box-catalog .info a p.title {
    margin: 0;
    padding: 0;
    color: var(--dark-gray);
    font-size: .95em;
    font-weight: 600;
}
.box-catalog .info .actions {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 35px;
    border-top: solid 1px var(--bor-gray);
}
.box-catalog.course .info .actions a {
    position: absolute;
    top: 50%;
    font-size: .7em;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--dark-gray);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.box-catalog.course .info .actions a.play  {
    left: 0;
}
.box-catalog.course .info .actions a.lessons {
    right: 0;
}
.box-catalog.course .info .progressbar,
.box-catalog.course .info .progressbar span {
    height: 5px;
}
.box-catalog.course .info .progressbar {
    position: absolute;
    content: '';
    bottom: 50px;
    left: 15px;
    right: 15px;
}
.box-catalog.course .info .progressbar span {
    position: absolute;
    content: '';
    left: 0;
}

/* page-course */
.page-course {
    display: block;
    width: 100%;
}
.page-course > .header .logo {
    border-bottom: solid 1px var(--black);
}
.page-course .sidebar .box-menu {
    position: relative;
    display: block;
    height: 100%;
}
.page-course .menu-accordion ul li a {
    position: relative;
}
.page-course .menu-accordion ul li a span.title,
.page-course .menu-accordion ul li a span.details {
    display: block;
}
.page-course .menu-accordion ul li a span.title {
    margin-right: 15px;
}
.page-course .menu-accordion ul li a span.details {
    margin-top: 10px;
    font-size: 0;
}
.page-course .menu-accordion ul li a span.details small {
    display: inline-block;
    width: 50%;
    font-size: .75rem;
}
.page-course .menu-accordion ul li a span.details small:last-child {
    text-align: right;
}
.page-course .menu-accordion ul li a span.status {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: .75rem;
}
.page-course .sidebar .details-course span.title {
    display: block;
    width: 100%;
    color: var(--white);
    margin-bottom: 15px;
    line-height: 18px;
    font-weight: 600;
}

/* progressbar */
.progressbar {
    position: relative;
    display: block;
    background-color: var(--bor-gray);
    border-radius: 5px;
    overflow: hidden;
}
.progressbar,
.progressbar span {
    height: 5px;
}
.progressbar span {
    position: absolute;
    content: '';
    left: 0;
    background-color: var(--dark-gray);
}
.progressbar span.green {
    background-color: var(--green);
}
.progressbar span.blue {
    background-color: var(--blue);
}
.progressbar span.red {
    background-color: var(--red);
}
.progressbar span.yellow {
    background-color: var(--yellow);
}
.progressbar span.black {
    background-color: var(--black);
}
.progressbar span.white {
    background-color: var(--white);
}

/* dash-info-icon */
.dash-info-icon {
    display: block;
    width: 100%;
    font-size: 0;
    border-radius: 5px;
    padding: 15px;
}
.dash-info-icon a.read-more {
    display: block;
    font-size: 12px;
    text-align: center;
    border-top: dotted 1px var(--bor-gray);
    color: var(--white);
    padding-top: 10px;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.dash-info-icon .col {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
}
.dash-info-icon .col:nth-child(1) {
    width: calc(100% - 50px);
}
.dash-info-icon .col:nth-child(2) {
    width: 50px;
    text-align: right;
}
.dash-info-icon .col span.big-text,
.dash-info-icon .col span.small-text {
    display: block;
}
.dash-info-icon .col span.big-text {
    font-size: 1.15em;
    font-weight: bold;
}
.dash-info-icon .col span.small-text {
    font-size: .75em;
}
.dash-info-icon .col .icon {
    font-size: 2em;
}
.dash-info-icon.big .col:nth-child(1) {
    width: calc(100% - 60px);
}
.dash-info-icon.big .col:nth-child(2) {
    width: 60px;
}
.dash-info-icon.big .col span.big-text {
    font-size: 1.8em;
}
.dash-info-icon.big .col span.small-text {
    font-size: 1.1em;
}
.dash-info-icon.big .col .icon {
    font-size: 3em;
}
.dash-info-icon.big a.read-more {
    font-size: 14px;
}
.dash-info-icon.gray {
    color: var(--dark-gray);
    background-color: rgb(236, 233, 233);
}
.dash-info-icon.gray a.read-more {
    color: var(--dark-gray);
    border-top-color: var(--dark-gray);
}
.dash-info-icon.blue {
    color: #ffffff;
    background: rgb(26,115,232);
}
.dash-info-icon.yellow {
    color: #3c4043;
    background: rgb(230,222,123);
}
.dash-info-icon.yellow a.read-more {
    color: #3c4043;
    border-top-color: #3c4043;
}
.dash-info-icon.green {
    color: #ffffff;
    background: rgb(83,190,138);
}
.dash-info-icon.red {
    color: #ffffff;
    background: rgb(203,100,104);
}
.dash-info-icon.black {
    color: #ffffff;
    background: rgb(60,64,67);
}
.dash-info-icon.dark {
    color: #ffffff;
    background: rgb(111, 125, 151);
}
.dash-info-icon.ocean {
    color: #ffffff;
    background: rgb(57, 157, 209);
}

/* box-profile */
.box-profile {
    display: block;
    width: 100%;
    font-size: 0;
}
.box-profile .avatar,
.box-profile .info {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
}
.box-profile .avatar {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}
.box-profile .info {
    width: calc(100% - 65px);
}
.box-profile .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-profile .info .name {
    font-size: 1em;
    font-weight: 600;
}
.box-profile .info .detail {
    font-size: .8em;
}
.box-profile.big .avatar {
    width: 85px;
    height: 85px;
}
.box-profile.big .info {
    width: calc(100% - 100px);
}
.box-profile.big .avatar .upload {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 85px;
    text-align: center;
    background-color: rgba(36, 37, 38, .35);
    color: var(--white);
    font-size: 25px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;

    transition: all ease .3s;
    -webkit-transition: all ease .3s;
}
.box-profile.big .avatar:hover .upload,
.box-profile.big .avatar:focus .upload {
    opacity: 1;
    visibility: visible;
}

/* box-heading */
.box-heading {
    display: block;
    width: 100%;
}
.box-heading h3 {
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--dark-gray);
    font-weight: 600;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}
.box-heading h3::after {
    position: relative;
    content: '';
    background-color: var(--gray);
    width: 100%;
    display: inline-block;
    height: 2px;
    margin-left: 15px;
    vertical-align: middle;
}
/* action */
.box-heading.action h3::after {
    display: none;
}
.box-heading.action .btn {
    font-size: .85em;
}
.box-heading.action .btn {
    padding: 5px 10px;
}

/* text align */
.text-center {text-align: center !important;}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-justify {text-align: justify !important;}

/* margins */
.m-0{margin: 0;}

.mt-0 {margin-top: 0 !important;}
.mt-5 {margin-top: 5px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-25 {margin-top: 25px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-40 {margin-top: 40px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-60 {margin-top: 60px !important;}

.mb-0 {margin-bottom: 0 !important;}
.mb-5 {margin-bottom: 5px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-60 {margin-bottom: 60px !important;}

.ml-0 {margin-left: 0 !important;}
.ml-5 {margin-left: 5px !important;}
.ml-10 {margin-left: 10px !important;}
.ml-15 {margin-left: 15px !important;}
.ml-20 {margin-left: 20px !important;}
.ml-25 {margin-left: 25px !important;}
.ml-30 {margin-left: 30px !important;}
.ml-40 {margin-left: 40px !important;}
.ml-50 {margin-left: 50px !important;}
.ml-60 {margin-left: 60px !important;}

.mr-0 {margin-right: 0 !important;}
.mr-5 {margin-right: 5px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-15 {margin-right: 15px !important;}
.mr-20 {margin-right: 20px !important;}
.mr-25 {margin-right: 25px !important;}
.mr-30 {margin-right: 30px !important;}
.mr-40 {margin-right: 40px !important;}
.mr-50 {margin-right: 50px !important;}
.mr-60 {margin-right: 60px !important;}

/* paddings */
.p-0{padding: 0;}

.pt-0 {padding-top: 0 !important;}
.pt-10 {padding-top: 10px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-30 {padding-top: 30px !important;}
.pt-40 {padding-top: 40px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-60 {padding-top: 60px !important;}

.pb-0 {padding-bottom: 0 !important;}
.pb-5 {padding-bottom: 5px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-60 {padding-bottom: 60px !important;}

.pl-0 {padding-left: 0 !important;}
.pl-5 {padding-left: 5px !important;}
.pl-10 {padding-left: 10px !important;}
.pl-15 {padding-left: 15px !important;}
.pl-20 {padding-left: 20px !important;}
.pl-25 {padding-left: 25px !important;}
.pl-30 {padding-left: 30px !important;}
.pl-40 {padding-left: 40px !important;}
.pl-50 {padding-left: 50px !important;}
.pl-60 {padding-left: 60px !important;}

.pr-0 {padding-right: 0 !important;}
.pr-5 {padding-right: 5px !important;}
.pr-10 {padding-right: 10px !important;}
.pr-15 {padding-right: 15px !important;}
.pr-20 {padding-right: 20px !important;}
.pr-25 {padding-right: 25px !important;}
.pr-30 {padding-right: 30px !important;}
.pr-40 {padding-right: 40px !important;}
.pr-50 {padding-right: 50px !important;}
.pr-60 {padding-right: 60px !important;}

/* non-border-radius */
.non-bor-radius {border-radius: initial !important;}
.non-bor-radius-tl {border-top-left-radius: initial !important;}
.non-bor-radius-tr {border-top-right-radius: initial !important;}
.non-bor-radius-bl {border-bottom-left-radius: initial !important;}
.non-bor-radius-br {border-bottom-right-radius: initial !important;}

/* col */
.split-col .col {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
    width: 100%;
}
.split-col .col:nth-child(1) {
    width: 70%;
}
.split-col .col:nth-child(2) {
    text-align: right;
    width: 30%;
}
.split-col .btn {
    padding: 5px 10px;
    font-size: .85em;
}

/* grid */
.row {
    display: block;
    width: calc(100% + 30px);
    margin-left: -15px;
    font-size: 0;
}
.row .col-100,
.row .col-90,
.row .col-80,
.row .col-70,
.row .col-60,
.row .col-50,
.row .col-40,
.row .col-30,
.row .col-33,
.row .col-25,
.row .col-20,
.row .col-10 {
    display: inline-block;
    vertical-align: top;
    font-size: initial;
    padding: 0 15px;
}
.row .col-side { width: var(--w-col-side);}
.row .col-full { width: 100%;}
.row .col-body { width: calc(100% - var(--w-col-side));}
.row .col-100 { width: 100%;}
.row .col-90 { width: 90%;}
.row .col-80 { width: 80%;}
.row .col-70 { width: 70%;}
.row .col-60 { width: 60%;}
.row .col-50 { width: 50%;}
.row .col-40 { width: 40%;}
.row .col-33 { width: 33.33333333%;}
.row .col-30 { width: 30%;}
.row .col-25 { width: 25%;}
.row .col-20 { width: 20%;}
.row .col-10 { width: 10%;}

.row .v-align-middle { vertical-align: middle;}
.row .v-align-top { vertical-align: top;}
.row .v-align-bottom { vertical-align: bottom;}

/* select2 */
.select2-container {
    min-width: 100%;
}
.select2-container .select2-selection--single {
    height: 45px;
}
.select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-selection--multiple {
    border: solid 1px var(--bor-form);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 10px;
    margin-left: 10px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid 1px var(--bor-form);
    position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding: 7px 5px 0 5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
}
.select2-container .select2-selection--multiple {
    min-height: 45px !important;
}
.select2-container .select2-search--inline {
    margin-left: 7px;
}
.select2-container .select2-search--inline .select2-search__field {
    margin-top: 7px;
    min-width: 30px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__clear,
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    color: var(--dark-gray);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    position: absolute;
    top: -4px;
    right: -5px;
    margin: 0;
    width: 10px;
    height: 10px;
    background: var(--dark-gray);
    color: var(--white);
    border-radius: 50%;
    line-height: 8px;
    text-align: center;
    font-size: .75em;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    position: relative;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: var(--gray);
    border: solid 1px var(--bor-gray);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    border-right: 1px solid var(--bor-gray);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    color: var(--dark-gray);
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    font-size: .8rem;
}

/* simple-upload */
.simple-upload {
    display: block;
    width: 100%;
    text-align: center;
}
.simple-upload .btn-choose {
    display: block;
    width: 100%;
}
.simple-upload .btn-choose input[type="file"] {
    display: none;
}
.simple-upload .box-preview {
    display: inline-block;
    width: 130px;
    margin-bottom: 15px;
}
.simple-upload .box-preview .file img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
}

/* area-upload */
.area-upload {
    display: block;
    font-size: initial;
    text-align: center;
}
.area-upload .icon,
.area-upload .desc,
.area-upload .or,
.area-upload .btn-choose {
    display: block;
    margin-top: 10px;
}
.area-upload .box-attach {
    color: var(--black);
    border: dashed 2px var(--blue);
    border-radius: 10px;
    padding: 25px;
}
.area-upload .btn-choose input[type="file"] {
    display: none;
}
.area-upload .icon {
    font-size: 50px;
    margin-top: 0;
    color: var(--dark-gray);
}
.area-upload .desc,
.area-upload .or {
    font-size: 18px;
    font-size: 300;
}
.area-upload .btn-choose {
    display: inline-block !important;
}
/* box-files */
.area-upload .box-files {
    display: none;
}
.area-upload .box-files.active {
    display: block;
    margin-top: 30px;
}
.area-upload .box-files .item {
    display: block;
    font-size: 0;
    margin-bottom: 15px;
}
.area-upload .box-files .item:last-child {
    margin-bottom: 0;
}
.area-upload .box-files .item .box {
    display: block;
}
.area-upload .box-files .item .box .preview,
.area-upload .box-files .item .box .details,
.area-upload .box-files .item .box .actions {
    display: inline-block;
    vertical-align: middle;
}
.area-upload .box-files .item .box .preview,
.area-upload .box-files .item .box .details {
    font-size: initial;
}
.area-upload .box-files .item .box .preview {
    width: 80px;
}
.area-upload .box-files .item .box .actions {
    width: 100px;
    text-align: right;
}
.area-upload .box-files .item .box .details {
    width: calc(100% - 180px);
    text-align: left;
    padding: 0 15px;
}
.area-upload .box-files .item .box .details .info {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}
.area-upload .box-files .item .box .details .info .name {
    color: var(--dark-gray);
}
.area-upload .box-files .item .box .details .info .progress {
    float: right;
    width: initial !important;
    color: var(--dark-gray);
}
.area-upload .box-files .item .box .preview .icon {
    display: block;
    width: 100%;
    color: var(--black);
    font-size: 50px;
}
.area-upload .box-files .item .box .preview img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.area-upload .box-files .item .box .actions a {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.area-upload .box-files .item .box .actions a.btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
}
.area-upload .box-files .item .box .actions a.delete {
    display: none;
}
.area-upload .box-files .item .box .actions a.delete.active {
    display: inline-block;
    margin-left: 10px;
}

/* loading-placeholder */
.modal .loading-placeholder,
.card.loading-placeholder {
    position: relative;
}
.loading-placeholder::before,
.loading-placeholder::after {
    position: absolute;
}
.modal .loading-placeholder::before,
.modal .loading-placeholder::after {
    z-index: 40;
}
.modal .loading-placeholder::before {
    border-radius: 15px;
}
.modal .loading-placeholder.non-bor-radius::before {
    border-radius: initial;
}
body.loading-placeholder::before,
body.loading-placeholder::after {
    position: fixed;
    z-index: 9999;
}
.loading-placeholder::before {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 9;
}
.loading-placeholder::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f110';
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    font-size: 30px;
    color: #ffffff;
    animation: fa-spin 1s steps(8) infinite;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 9;
}

/* tinymce */
.tox-tinymce {
    border: solid 1px var(--bor-form) !important;
    border-radius: 5px !important;
}
.tox .tox-statusbar {
    border-top: 1px solid var(--bor-form) !important;
}
.tox .tox-toolbar, 
.tox .tox-toolbar__overflow, 
.tox .tox-toolbar__primary {
    background: #ffffff !important;
    border-bottom: solid 1px var(--bor-form) !important;
}